.list-empty {
  display: flex;
  width: 100%;
  //   min-height: 40em;
  padding: 4em 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;

  img {
    width: 18em;
    // flex: 0 1 30%;
    // margin: auto;
  }

  &__text-box {
    padding: 2em;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // margin-top: auto;
    // flex: 0 0 30%;
    // margin: auto;
  }
}
