.announce {
  display: flex;
  width: 100%;
  padding: 10em 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  img {
    width: 18em;
  }

  &__text-box {
    padding: 2em;
  }
}
